@{
    var employeeList = TempData["EmployeeList"] as List<CRUDOperationMVC.Models.employeedetails>;
    var employee = employeeList?.FirstOrDefault();

    int empnoId = employee != null && !string.IsNullOrEmpty(employee.empnoId.ToString()) ? employee.empnoId : 0;

    string empusername = employee != null && !string.IsNullOrEmpty(employee.empusername) ? employee.empusername : "";
    string empemail = employee != null && !string.IsNullOrEmpty(employee.empemail) ? employee.empemail : "";
    string empdob = employee != null && !string.IsNullOrEmpty(employee.empdob) ? employee.empdob : "";
    string empphono = employee != null && !string.IsNullOrEmpty(employee.empphono) ? employee.empphono : "";
    string empbutton = employee != null ? "Update Employee" : "Insert Employee";

}
<style>
    .form-label {
        margin-top: 1%;
    }
</style>

@{
    if (ViewData["AlterMsg"] != null)
    {
        <div id="pclose">
            <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert">
                <p class="mb-0">@ViewData["AlterMsg"]</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
}

<form action="@Url.Action("CreateInsert", "EmployeePortal")">
    <div class="table">
        <div class="col">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username" value="@empusername" />
        </div>
        <div class="col">
            <label class="form-label">Email</label>
            <input class="form-control" type="text" name="email" value="@empemail" />
        </div>
        <div class="col">
            <label class="form-label">DOB</label>
            <input class="form-control" type="date" name="Udate" value="@empdob" />
        </div>
        <div class="col">
            <label class="form-label">PhoneNo</label>
            <input class="form-control" type="text" name="phno" value="@empphono" />
        </div>
        <input type="hidden" name="empno" value="@empnoId" />
        <button class="btn btn-primary" id="btnsave" type="submit" name="btnsave" style="margin-top:2%">@empbutton</button>
    </div>
</form>



@using System.Data;
@{
    DataTable dt = ViewData["Datatablereturn"] as DataTable;
    if (dt != null)
    {
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    @foreach (DataColumn column in dt.Columns)
                    {
                        if (@column.ColumnName == "empno")
                        {
                            <th style="display:none">@column.ColumnName</th>
                        }
                        else
                        {
                            <th>@column.ColumnName</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in dt.Rows)
                {
                    <tr>
                        @foreach (DataColumn column in dt.Columns)
                        {
                            <td @if (column.ColumnName == "empno") { <text>style="display:none"</text> }>
                                @*@row[column]*@
                                @if (@row[column].ToString() == "Edit" || @row[column].ToString() == "Delete")
                                {
                                    if (@row[column].ToString() == "Edit")
                                    {
                                        <a href="@Url.Action("Update", "EmployeePortal", new { empno = row["empno"] })">@row[column]</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Delete", "EmployeePortal", new { empno = row["empno"] })">@row[column]</a>
                                    }
                                }
                                else
                                {
                                        @row[column] 
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
